couchdb:
  url: localhost
  user: your_user
  pwd: your_password
  bucket: your_bucket_name
  fts: fd_food
mongodb:
  url: localhost
  db: foods
  user: your_user
  pwd: your_password
  collection: bfpd
